<div>
  <h1>Dexie Todo Example</h1>
  <app-add-todo (addTodo)="onAddTodo($event)"></app-add-todo>
  <app-todo-list
    [todos]="todosList"
    (toggleTodo)="onToggleTodo($event)"
    (deleteTodo)="onDeleteTodo($event)"
  ></app-todo-list>
</div>